/* Global */
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Prata');


body {
    background: lavender;
   font-family: 'Prata', serif;
}

/* Typography */

h1, h2, h3, h4, h6 {
    font-family: 'Amatic SC' cursive;
}

h1 {
    text-align: right;
    font-size: 2em;
}

h2 {
    text-align: right;
    font-size: 2em;
}

/* Positioning */

header {
    background: rgba(224, 255, 255, 0.68);
    position: fixed;
    width: 50%;

    
}

/* Layout */

.page-wrapper {
    margin: 0 auto;
    width: 90%;
    
}

#zen-intro {
    background: rgba(251, 152, 255, 0.36);
}

#zen-supporting {
    background: rgba(158, 62, 255, 0.36);
    
}

/* Media Queries */

/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
/* end mobile */
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }
/* end tablet*/
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }
/* end desktop */
}